[Unit]
Description=Resize root filesystem to fit available disk space
After=systemd-remount-fs.service
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
StandardOutput=journal+console
ExecStartPre=-/usr/sbin/resize_rfs.sh
ExecStart=/usr/sbin/depmod -a
ExecStart=/bin/sync
ExecStart=/bin/systemctl disable resize_rfs.service
ExecStart=/bin/sleep 5
ExecStart=/usr/sbin/reboot

[Install]
WantedBy=multi-user.target
