[Unit]
Description=Wayland Desktop initial setting
Before=gnome-session.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/sbin/wayland_init.sh
RemainAfterExit=yes
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target